
table td, table td * {
    vertical-align: top;
    text-align: left;
}

body {
  margin: 0;
  font-family: Arial,
    sans-serif;
  color: #2B2B2B
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  font-style: italic;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #038291 ; 
  text-decoration: underline;
}

a:hover {
  color: #025C66; 
  text-decoration: none;
}

.alert-warning {
  width: 90%;
  max-width: 750px;
  height: auto;
  border-left: 2px solid #038391;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* bottom: 200%; */
    /* background: no-repeat 50%/100% 100%; */
    /* background-color: red; */
    position: relative;
    bottom: -4.5%;
}

.carousel-control-next, .carousel-control-prev {
  top: unset;
  bottom: 14px;
}

.carousel-indicators {
    bottom: 100%;
    background-color: none;
    height: 25px;
}

.carousel-indicators li {
    background-color: #130A40;
}

.card-header-procedure {
  border-radius: 0px;
  background-color: #FAF7F5;
  width: auto;
  text-align: center;
  height: 50px;
}

.call-out {
  width: 90%;
  max-width: 750px;
  border-radius: 0;
  height: auto;
  border-left: 2px solid #038391;
  background-color: #FAF5F7; 
}

.call-out-em {
  font-family: Arial;
  font-style: italic;
  font-size: 13px;
}

.call-out-experiment {
  display: inline;
  font-family: Arial;
  font-weight: 600;
  font-size: 13px;
}

.call-out-link {
  font-weight: 600;
  font-size: 13px;
}

.card {
  border: solid 1px #038391;
  border-radius: 15px;
  max-width: 750px;
  background-color: white; 
}

.card-footer {
  background-color: #130A40;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0 0 .75rem .75rem !important;
  height: 50px;
  width: 100%;
  /*
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  */
}
.card-header {
  border-radius: .75rem!important;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #FAF5f7;
  color: #2B2B2B;
  border-radius: 0;
}

.btn-primary {
  padding: 10px 20px;
  max-width: 300px;
  width: auto;
  margin: 15px;
  background-color: purple;
  background-color: #130A40;
  border-radius: 12px;
  border: none;
  font-family: Arial, 
      sans-serif;
  color: #FAF5F7;
}

.btn-primary:hover {
  background-color: #221273;
  color: white;
}

.btn-secondary {
  background-color: #FAF5F7; 
  border-radius: 12px; 
  font-family: Arial, sans-serif; 
  color: #130A40;
  text-decoration: none;
  border: 1px solid #130A40;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: auto;
  margin-top: 20px;
  display: inline-block;
}

.btn-secondary:hover {
  background-color: #DEDBEB;
  color: #130A40;
}

.icon-div {
   text-align: center;
}

.navbar {
  height: 60px;
}

/* .navbar-expand  */
.navbar-brand {
    font-family: Arial;
    color: #2B2B2B;
    font-size: 24px;
}

.nav-link:hover {
  border-top: 2px solid #038391;
}

.anav a{
  border-top: 2px solid #ffffff;
  text-decoration-line: none;
  text-decoration: none;
}

.max-width {
  max-width: 750px;
}

.chem-card {
  font-weight: bold;
  font-size: 16px;
}

/* Mobile breakpoint @ 640px. Why a minor breakpoint? Not sure. */
@media only screen and (max-device-width: 640px) {
  /* Do not block content with nav, add space for content*/
  main {
    margin-top: 15px;
    margin-bottom: 75px;
  }

  /* This should not necessarily be the answer. The navbar-nav can be moved instead. */
  header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    background: white;
  }
 
  /* Hide the brand on mobile */
  .navbar-brand {
    display: none;
  }

  .anav a{
    border-top: unset;
  }
  
  .nav-link:hover {
    border-top: unset;
  }

}